<div class="container">
    <div class="row">
        <div class="col">

            <div class="single-product">
                <img class="img-fluid" src={{productDetails.img}} alt="">
                <div class="product-details">
                  <h6>{{productDetails.title}}</h6>
                  <div class="price">
                    <h6>${{productDetails.price1}}</h6>
                    <h6 class="l-through">${{productDetails.price2}}</h6>
                  </div>
                  <div class="prd-bottom">
                    <a href="" class="social-info">
                      <span class="lnr lnr-move"></span>
                      <p class="hover-text">back to products</p>
                    </a>
                  </div>
                </div>
              </div>
        </div>

    </div>
</div>>
